{{extend 'layout.html'}}
<style>
/*The below section pertrains to page loading symbol*/

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://www.animatedgif.net/cartoons/A_5odie_e0.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

</style>
<script >
$body = $("body");

$(document).on({
    ajaxStart: function() {$body.addClass("loading");},
     ajaxStop: function() {$body.removeClass("loading");}    
});
</script>
{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div> 
    </header>
{{end}}

<div id="dvJiraRest" style="visibility: hidden;"><p>Use the below curl reference to create a ticket using the the json you download. You have to change the project 
 and customfields to adapt it to your jira project instance</p>
 <p> </p>></div>
<table class="table table-striped">
    <thead>
        <tr >
            <th>twitter_screen_name</th>
            <th>tweet</th>
            <th>creation_time_date</th>
            <th>original_source</th>
	    <th>sentiment estimate</th>
            <th>downlaad_tweeket</th>
            <th>jira rest json</th>
            
        </tr>
    </thead>
    <tbody>
    {{for tweet in arrTweets:}}
        <tr>
            <td>{{=tweet["user"]["screen_name"]}}</td>
            <td>{{=tweet["text"]}}</td>
            <td>{{=tweet["created_at"]}}</td>
            <td>{{=tweet["source"]}}</td>
	    <td><a onclick='showsentiment($(this))'>view sentiment</a>
	    	<a onclick='showtweetquality($(this))'>quality of tweet</a></td>
            <td><div  style="visibility: hidden;" id="{{=tweet['created_at']}}"><input  type="text" value="{{=tweet['tweeket']}}"/></div><button type="button" onclick="downloadTweeket($(this))">Download Tweeket!</button></td>
            <td style="width:100px"><div  style="visibility: hidden;"><input  type="text" value="{{=tweet['jiratweeket']}}"/></div><button type="button" onclick='downloadJson($(this))'>Jira Ticket Json</button>
            <div  style="visibility: hidden;"><input  type="text" value="{{=tweet['bugztweeket']}}"/></div><button type="button" onclick='downloadJson($(this))'>Bugzilla Json</button>
            <div  style="visibility: hidden;"><input  type="text" value="{{=tweet['freshdeskjson']}}"/></div><button type="button" onclick='downloadJson($(this))'>Freshdesk Json</button></td>
	    </tr>
    {{pass}}
    </tbody>
   
</table>
<script>
function showtweetquality(x){
	txttweet = x.parent().parent().children()[1].innerHTML;
	$.ajax({
		url:"/tweeket/default/caculatetweetquality.json",
		type:'post',
		contentType:"application/json; charset=utf-8",
		data: JSON.stringify({'txttweet':txttweet}),
		success: function(data, textStatus, jQxhr){
			alert(JSON.stringify(data));
		},
		error: function(jqXhr, textStatus, errorThrown ){
	        console.log(JSON.stringify(jqXhr)+ errorThrown );
	    }
	});
}
function showsentiment(x){
	
	txttweet = x.parent().parent().children()[1].innerHTML;
	
	$.ajax({
	    url: "/tweeket/default/calculatesentiment.json"	,
	    type: 'post',
	    contentType: "application/json; charset=utf-8",
	    data: JSON.stringify({'txttweet':txttweet}),
	    success: function( data, textStatus, jQxhr ){
			var strmessage = "The sentiment for this tweet is "+data["sentiment"]+"!!.\n";
			strmessage += "Does the tweet contain special lexicons that calls attention ? "+(data["somethingtolook"] ? "Yes":"No");
			alert(strmessage);
	    },
	    error: function( jqXhr, textStatus, errorThrown ){
	        console.log(JSON.stringify(jqXhr)+ errorThrown );
	    }
	});
	
}
function downloadTweeket(x) {
	var strtweeket = x.prev().children()[0].value;
	jsontweeket  = JSON.parse(JSON.stringify(strtweeket));
	window.open("data:application/octet-stream;charset=utf-8," + encodeURIComponent((jsontweeket)));
    
}
function downloadJson(x){
	alert('Adapt project name and customfields key and then use format to insert ticket remotely \n\n curl -D -u username:password -X POST --data downloadfilename -H "Content-Type: application/json" http://servername:port/rest/api/2/issue/');
	var strjirajson = x.prev().children()[0].value;
	jirajson = JSON.parse(JSON.stringify(strjirajson));
	window.open("data:application/octet-stream;charset=utf-8," + encodeURIComponent((jirajson)));
}
</script>
<div class="modal"><!-- Place at bottom of page --></div>