{{extend 'layout.html'}}
<script type="text/javascript">
$.fn.center = function () {
    this.css("position","absolute");
    this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) + 
                                                $(window).scrollTop()) + "px");
    this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) + 
                                                $(window).scrollLeft()) + "px");
    return this;
}

$(function(){
	alert(1);
	$('form').center(true);
	
});
</script>
<style>


	
</style>

{{=FORM('Enter search term',INPUT(_id='tweetsearch',_name='tweetsearch', _value=''),
INPUT(_type="submit", _id='btnSearch',_class="button-0"))}}
