{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}


<h2>{{=message}}</h2>
{{'''{{for url in urls:}}
<p><a href="{{=url}}">{{=url}}</p>
{{pass}}'''}}
{{for filename in mapDailyUrlList:}}
<p>{{=filename}}</p>
<ul>
{{for url in mapDailyList["filename"]:}}
<li><a href="{{=url}}">{{=url}}</a></li>
{{pass}}
</ul>
{{pass}}
