{{extend 'layout.html'}}
<script>
  $(document).ready(function(){
   $("#btnSearch").click(function(event) {
		window.location = "showuniversitiesstartwith?page=1&startswith="+$("#txtSearch").val();
		});
   $("#frmsearch").submit(function(event)
	{
		window.location = "showuniversitiesstartwith?page=1&startswith="+$("#txtSearch").val();
		event.preventDefault();
	});
	});
</script>

<form id="frmsearch">
<input type="text" id="txtSearch" value="{{=request.vars.startswith}}"/>
<input type="submit" id="btnSearch"/>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Website</th>
        </tr>
    </thead>
    <tbody>
    {{for uni in unis:}}
        <tr>
            <td>{{=uni.name}}</td>
            <td>{{=A(uni.website,_href="http://"+uni.website,_target="new")}}</td>
	    <!--
            <td>
                <button class="btn"><i class="icon-edit"></i></button>
            </td>
            <td>
                <button class="btn"><i class="icon-trash"></i></button>
            </td>
		-->
        </tr>
    {{pass}}
    </tbody>
   
   <a href={{=URL(vars={'page':int(request.vars.page)-1,'startswith':request.vars.startswith})}}>Previous</a> |
   <a href={{=URL(vars={'page':int(request.vars.page)+1,'startswith':request.vars.startswith})}}>Next</a>
</table>
</form>
