{{extend 'layout.html'}}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Website</th>
        </tr>
    </thead>
    <tbody>
    {{for uni in unis:}}
        <tr>
            <td>{{=uni.name}}</td>
            <td>{{=A(uni.website,_href="http://"+uni.website,_target="new")}}</td>
            <td>
                <button class="btn"><i class="icon-edit"></i></button>
            </td>
            <td>
                <button class="btn"><i class="icon-trash"></i></button>
            </td>
        </tr>
    {{pass}}
    </tbody>
   <a href={{=URL(vars={'page':int(request.vars.page)-1})}}>Previous</a> |
   <a href={{=URL(vars={'page':int(request.vars.page)+1})}}>Next</a>
</table>
