{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<h2>FORM</h2>
<center>
{{=form}}
</center>

<h2>OUR PETS</h2>
{{for pet in pets:}}
{{=pet.name}}
{{pass}}
